.mypage {
   padding: 64px 32px ;
}

.mypage__top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 50px;
}

.mypage__user {
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
}

.mypage__user-name {
    margin-left: 16px;
    font-weight: bold;
    font-size:40px;
    width: 80%;
    white-space: nowrap;
}

.mypage__user-image {
    margin-right: 16px;
    margin-bottom: 30px;
    text-align: right;
    width: 25%;
}

.mypage__user-image-inner {
    width:100%;
}

.mypage__user-review {
    white-space: nowrap;   
}

.mypage__user-review-star {
    font-size: 32px;
}

.mypage__user-name{
    text-align: center;
}

.mypage__user-link{
    text-align: center;
}

.mypage__user-link-edit{
    text-decoration: none;
    color: #ff5455;
    border: 1px solid #ff5455;
    border-radius: 5px;
    padding: 8px 16px;
    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
}

.mypage__link{
    display: flex;
    border-bottom:1px solid #5f5f5f;
}

.mypage__link-exhibit{
    padding-right: 10px;
    margin-bottom: 5px;
}

.mypage__link-exhibit-access{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
}

.mypage__link-exhibit-access:active {
    color: #ff5455;
}

.mypage__link-purchase {
    margin-bottom: 5px;
}

.mypage__link-purchase-access {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
}

.mypage__link-trading-chat-access {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
}

.mypage__link-span {
    font-weight: bold;
    color:#FFFFFF;
    background-color: #FF0000;
    border-radius: 10px;
    padding: 4px 6px;
}

.transaction-item-link {
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
}

.mypage__item{
    display: flex;
    flex-wrap: wrap;
}

.mypage__item-group{
    width:25%;
    box-sizing: border-box;
    padding: 40px; 
}

.transaction-complete {
    color: #6c757d;
}

.unread-message {
    position: absolute;
    top: 0px;
    left: 5px;
    z-index: 9999;
}

.unread-message__count {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 9999px;
    min-width: 20px;
    text-align: center;
}

.mypage__item-image{
    width:100%;
    position: relative;
    z-index: 1;
}

.mypage__item-image-inner{
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
}

.mypage__item-name {
    white-space: nowrap;
}

@media screen and (max-width:1230px) {
    .mypage__item-group{
        padding: 24px;
    }

    .mypage__user-review-star {
        font-size: 24px;
    }

    .mypage__user-image {
        width: 30%;
    }
}

