.profile-form {
    width: 40%;
    margin: 30px auto;
}

.profile-form__ttl {
    text-align: center;
    margin-bottom: 30px;
}

.profile-img-form__img {
    display: flex;
    align-items: center;
    margin-bottom:30px;
}

.profile-form-img__input {
    display: none;
}

.profile-img__label {
    border: 2px solid #ff5455;
    border-radius: 5px;
    color: #ff5455;
    padding: 8px;
}

/* .profile-form-img__submit {
    border:1px solid #ff5455;
    border-radius: 3px;
    padding:4px 8px;
    color: #ff5455;
    font-size: 12px;
    font-weight: bold;

} */

.profile-form__group {
    width: 100%;
    margin-bottom: 30px;
}

.profile-form__label {
    font-weight: bold;
    margin-bottom: 3px;
    display: block;
}

.profile-form__item {
    width:100%;
}

.profile-form__input {
    width: 100%;
    outline: none;
    padding: 8px 16px;
}

.profile-form__error-message {
    color:red;
}

.profile-form__button {
    width: 100%;
    text-align: center;
}

.profile-form__submit { 
    width: 100%;
    border: none;
    background-color: #ff5455;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .profile-form {
        width: 60%;
    }
}