.sell-form{
    width:40%;
    margin:50px auto;
}

.sell-form__ttl{
    text-align: center;
}

.sell-form__subtitle{
    margin-bottom: 8px;
    border-bottom: 1px solid #afafaf;
    color:#5f5f5f;
}

.sell-form__category{
    display: flex;
    flex-wrap: wrap;
}

.sell-form__category-item {
    padding: 10px 5px;
}

 .sell-form__category-input{
    display: none;
} 

.sell-form__span {
    color: #ff5455;
    font-size: 14px;
    border: 1px solid #ff5455;
    border-radius: 20px;
    padding: 5px 20px;
}

.sell-form__category-input:checked+.sell-form__span {
    color: #FFF;
    background: #ff5455;
    border: 1px solid #ff5455;
}

.sell-form__select {
    width: 100%;
    padding: 8px 16px;
}

.sell-form__select-item {
   width: 100%;
   display: block;
}

.sell-form__group{
    margin-bottom: 16px;
}

.sell-form__input{
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    outline:none;
}

.sell-form__textarea{
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    height:80px;
    line-height: 1.5em;
    outline:none;
}

.sell-form__submit{
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    background-color: #ff5455;
    color:#fff;
    margin-top: 50px;
}

.sell-form__error-message{
    color:red;
}

@media screen and (max-width:1200px) {
    .sell-form{
        width: 60%;
    }
}